article.card {
  position: absolute;
  left: 50%;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  -webkit-transform: translate(-50%, -50%) translateZ(0);
  transform: translate(-50%, -50%) translateZ(0);
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
}
article.card .thumb {
  width: auto;
  height: 260px;
  border-radius: 3px;
}
article.card .infos {
  width: auto;
  height: 350px;
  position: relative;
  padding: 14px 24px;
  background: #fff;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .title {
  position: relative;
  margin: 10px 0;
  letter-spacing: 3px;
  color: #152536;
  font-family: 'Grotesque Black', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px #32577f;
}

article.card .infos .date,
article.card .infos .lang {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: rgba(21, 37, 54, 0.7);
  font-family: 'Grotesque', sans-serif;
}
article.card .infos .lang {
  display: inline-block;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .txt {
  font-family: sans-serif;
  line-height: 2;
  font-size: 0.95rem;
  color: rgba(21, 37, 54, 0.7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .details {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  height: 50px;
  outline: none;
  border: none;
  background: crimson;
  color: white;
  padding: 10px 80px 10px 80px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  font-weight: bolder;
  font-size: 16px;
  width: 350px;
  border-radius: 0px;
}
article.card:hover .infos {
  -webkit-transform: translateY(-262px);
  transform: translateY(-262px);
}

article.card:hover .txt {
  opacity: 1;
}

article.card:hover .lang {
  opacity: 1;
}
